.header__lang{
    color: #FFFFFF;
    font-family: Inter;
    font-size: 24px;
    line-height: 23px;
    text-decoration-line: underline;
    margin-top: 17px;
    margin-left: 18px;
    font-style: Regular;
    text-decoration-line: none;
}
.header__lang_no-underline{
    text-decoration-line: underline;
}
@media screen and (max-width:425px) {
    .header__lang{
        
        
        font-size: 1em;
        line-height: calc(1em*0.94);
        text-decoration-line: underline;
        margin-top: calc(1em*0.88);
        margin-left: calc(1em*0.88);
        
    }
  }


  @media screen and (min-width:425px) and (max-width:769px){
    .header__lang{
        
        
        font-size: 1.5em;
        line-height: 0.95;
        
        margin-top: 1.1em;
        margin-left: 1.1em;
        
    }
  }