.barentsburg-container__link{
    font-family: Inter;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    max-width: 282px;
    color: #FFFFFF;
    display: block;
    font-style: regular;
}
