.video-item__title{
    font-family: Inter;
    font-size: 36px;
    line-height: 39px;
    margin-top: 12px;
    margin-left: 30px;
    color: #FFFFFF;
    font-weight: bold;
    max-width: 322px;
    font-style: black;
}

@media screen and (max-width:425px) {
    .video-item__title{
        
        font-size: 1.33em;
        line-height: 1.1;
        margin-top: 0%;
        margin-left: 5%;
        margin-bottom: 1.25%;
        padding: 0;
        max-width: 90%;
        
    }
}

@media screen and (min-width:425px) and (max-width:769px){
    .video-item__title{
        /*font-size: 0.85em;*/
        font-size: 2vw;
        line-height: 1.1;
        margin-top: 2.2%;
        margin-left: 7%;
        margin-bottom: 3.5%;
        max-width: 45%;
    }
}

@media screen and (min-width:770px) and (max-width:1024px){
    .video-item__title{
        /*font-size: 36px;*/
        font-size: 3.5vw;
        line-height: 1.1;
        margin-top: 2.6%;
        margin-left: 6.5%;
        margin-bottom: 3.9%;
        max-width: 70%;
    }
}