.barentsburg-container__URL{
    font-family: Inter;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;
    margin-bottom: 12px;
    color: #AAAAAA;
    text-decoration: none;
    margin-top: 0px;
}