.content-title_mod-cover{
    position: relative;
    margin-top: 0px;
    display: block;
    z-index: 2;
}

@media screen and (max-width:425px) {
    .content-title_mod-cover{
        font-size: 1.7em;
        line-height: 1.1;
        max-width: 90%;
    }
    
 }

 @media screen and (min-width:425px) and (max-width:769px){
    .content-title_mod-cover{
        font-size: 4em;
        line-height: 1.1;
        max-width: 90%;
    }
 }

 @media screen and (min-width:770px) and (max-width:1024px){
    .content-title_mod-cover{
        font-size: 4em;
        line-height: 1.1;
        max-width: 50%;
    }
 
 }