.video-item__icon_play{
    position: absolute;
    top: 30px;
    left: 30px;
}

@media screen and (max-width:425px) {
    .video-item__icon_play{
        
        top: 5%;
        left: 5%;
    }
}
@media screen and (min-width:425px) and (max-width:769px){
    .video-item__icon_play{
        position: absolute;
        top: 7%;
        left: 7%;
        max-width: 11.9%;
        width: 11.9%;
    }
    .video-item__icon_play img{
        
        max-width: 100%; 
    }
}

@media screen and (min-width:770px) and (max-width:1024px){
    .video-item__icon_play{
        position: absolute;
        top: 10.4%;
        left: 6.5%;
        max-width: 9%;
        width: 9%;
    }
    .video-item__icon_play img{
        
        max-width: 100%; 
    }
}